<div class="mt-16 h-full flex-grow flex flex-col items-center">
  <div class="flex flex-col w-full h-full bg-white dark:bg-slate-800 px-16 pt-16 pb-8 text-slate-500 dark:text-slate-300">
    <div class="flex flex-row items-center">
      <div class="flex-grow">
        <p>Duration: <%= format("%.3fs", stats.duration) %></p>
        <p>Total requests: <%= stats.total_requests%></p>
        <p>Rate: <%= stats.rate%> rps</p>
      </div>
      <% if running %>
        <div class="">
          <span class="text-amber-700 text-xl animate-pulse">Running</span>
        </div>
        <div class="ml-8 w-1/12">
          <form action="/stop" method="post" class="mb-0">
            <input type=submit value="Stop" class="px-4 py-2 shadow-slate-900 shadow-lg rounded bg-amber-700 hover:bg-amber-800 text-xl text-center w-full">
          </form>
        </div>
      <% end %>
    </div>
    <div class="w-full h-full overflow-auto mt-8">
      <table class="w-1/4 table-auto text-slate-500 dark:text-slate-300">
        <thead>
          <tr>
            <th class="text-left">Steps</th>
            <th class="text-right">Success</th>
            <th class="text-right">Failure</th>
          </tr>
        </thead>
        <% stats.each_step do |(user, step), step_stats| %>
          <tr class="border-b border-dashed hover:border-solid border-slate-700">
            <td class="text-left text-sm"><%= "#{user} - #{step}" %></td>
            <td class="text-right text-sm"><%= step_stats[:success] %></td>
            <td class="text-right text-sm"><%= step_stats[:failure] %></td>
          </tr>
        <% end %>
      </table>
      <table class="mt-8 w-1/2 table-auto text-slate-500 dark:text-slate-300">
        <thead>
          <tr>
            <th class="text-left">Failure</th>
            <th class="text-left">Count</th>
          </tr>
        </thead>
        <% stats.each_failure do |message, count| %>
          <tr class="border-b border-dashed hover:border-solid border-slate-700">
            <td class="text-left text-sm"><%= message %></td>
            <td class="text-left text-sm"><%= count%></td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
  <div class="w-full h-1/6 text-center py-10 object-center">
    <a href="/" class="bg-slate-500 p-2 shadow-slate-900 shadow-lg rounded hover:bg-slate-600">Back to start</a>
    <a href="/statistics" class="ml-4 bg-slate-500 p-2 shadow-slate-900 shadow-lg rounded hover:bg-slate-600">Statistics</a>
  </div>
</div>
<% if running %>
  <script>
    window.setTimeout(function() {window.location.reload();}, 2000);
  </script>
<% end %>
