<div class="mt-8 px-6 py-8 bg-white dark:bg-slate-800 rounded-lg shadow-slate-900 shadow-lg">
    <h3 class="text-center text-slate-900 dark:text-white text-2xl"><%= persona.name %></h3>
    <p class="text-center text-slate-500 dark:text-slate-400 mt-2 text-sm"><%= persona.description %></p>
    <ul class="mt-8">
      <% persona.config.each do |key, value| %>
        <li>
          <span class="text-slate-500 dark:text-slate-300"><%= key %></span>
          <span class="text-slate-500 dark:text-slate-300 float-right"><%= value%></span>
        </li>
      <% end %>
    </ul>
    <div class="mt-8 flex flex-row justify-end">
    <a href="/edit?persona=<%= persona.name %>" class="mt-4 text-sm bg-slate-300 hover:bg-slate-400 dark:bg-slate-500 dark:hover:bg-slate-600 p-2 shadow-slate-900 shadow-4xl rounded">Edit</a>
  </div>
</div>
